.btn {
  width: 150px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border: 1px solid #eee;
  transition: 0.5s;
}

.btn:hover {
  background-color: #888;
  color: #eee;
  border: 1px solid #aaa;
  transition: 0.5s;
}
