.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: blue;
}
.right-content {
  width: 80%;
}
.right-content ul {
  width: 60%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-content ul li {
  margin-left: 50px;
}

.right-content ul li a {
  color: #fff;
  cursor: pointer;
  padding: 20px;
}

.left-content {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
